@charset "UTF-8";
/* CSS Document */

@media only screen {
.fullpaper {
	width: 11in;
	height: 8.5in;
	background-color: none;
	background-image: url(images/book_fullpage.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
}
.halfsheets {
	width: 100%;
	height: 50%;
}
.pagieL {
	width: 25%;
	height: 100%;
	float: left;
	padding-top: 1.4%;
	padding-left: 1%;
	/*background-color: #FFFFFF;*/
}
.pagieR {
	width: 25%;
	height: 100%;
	float: left;
	padding-top: 0.1%;
	padding-right: 0;
	/*background-color:#fff;*/
	
}
.pagietopsy {
	width: 2.75in;
	height: 4.25in;
	float: left;
	padding-top: 0.2in;
	padding-left: 0.175in;
	border:dashed thin #000000;
	background-color: #FFFFFF;
	margin-left: auto;
}
.pagietopsy2 {
	width: 2.75in;
	height: 4.25in;
	float: left;
	padding-top: 0.2in;
	padding-left: 0.175in;
	border:dashed thin #000000;
	border-left: none !important;
	background-color: #FFFFFF;
	margin-left: auto;
}
.pagestopsy {
	width: 5.5in;
	height: 4.25in;
	float: left;
	margin: auto;
}
.headeredderL {
	width: 1.8in;
	height: 0.1875in;
	font-size: 5pt;
	line-height: 6pt;
	margin-top: 0.05in;
	margin-bottom: 0.275in;
	border: none;
	background-image: url(images/headerederL.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.headeredderR {
	width: 1.8in;
	height: 0.1875in;
	font-size: 5pt;
	line-height: 6pt;
	margin-top: 0.05in;
	margin-bottom: 0.275in;
	text-align: right;
	margin-left: 0.5in;
	border: none;
	background-image: url(images/headerederR.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	
}
.pgnumbL {
	width: 0.25in;
	height: 0.15in;
	font-size: 6pt;
	margin-right: 2pt;
	margin-bottom: 0.45in;
	border: none;
}
.pgnumbR {
	width: 0.25in;
	height: 0.15in;
	font-size: 6pt;
	margin-left: 2.35in;
	margin-bottom: -0.125in;
	text-align: right;
	border: none;
}
.bodycopayL {
	width: 1.8in;
	height: 2.125in;
	font-size: 8pt;
	line-height: 9pt;
	margin-left: 0.25in;
	margin-bottom: 0.125in;
	margin-top: -0.125in;
	border: none;
	background-image: url(images/bodaycopay.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.bodycopayR {
	width: 1.8in;
	height: 2.125in;
	font-size: 8pt;
	line-height: 9pt;
	margin-right: 0.25in;
	margin-bottom: 0.125in;
	margin-top: -0.125in;
	text-align: right;
	margin-left: 0.5in;
	border: none;
	background-image: url(images/bodaycopayR.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.marginaliaL {
	width: 1.75in;
	height: 1in;
	font-size: 6pt;
	line-height: 9pt;
	margin-left: 0.25in;
	font-weight: lighter;
	border: none;
	background-image: url(images/margL.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.marginaliaR {
	width: 1.75in;
	height: 1in;
	font-size: 6pt;
	line-height: 9pt;
	margin-right: -0.25in;
	font-weight: lighter;
	margin-left: 0.5in;
	border: none;
	background-image: url(images/margR.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.ttittle {
	width: 1.75in;
	height: 1in;
	margin-bottom: 1.25in;
	font-size: 10pt;
	line-height: 11.5pt;
	margin-left: 0.25in;
	margin-top: 0.55in;
	border: none;
	background-image: url(images/margL.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.subttittle {
	width: 1.75in;
	height:0.3in;
	font-size: 8.25pt;
	line-height: 9pt;
	margin-bottom: 0.1in;
	margin-left: 0.25in;
	border: none;
	background-image: url(images/subby.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.athor {
	width: 1.75in;
	height: 0.175in;
	font-size: 6pt;
	line-height: 9pt;
	margin-left: 0.25in;
	border: none;
	background-image: url(images/atur.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.biggiesmalls {
	width: 12in;
	height: 9in;
	padding: 34px;
	align-content: center;
	margin:auto;
	margin-left: auto;
}
.row2 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 8.5in;
	height: auto;
	margin: auto;
	margin-left: auto;
}
.content-section-fuck {
	padding-top: 80px;
	padding-bottom: 2%;
  	background-color: #f8f8f8;
	
}
.toolbararar {
	width:inherit;
	height:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
}