@charset "UTF-8";
/* CSS Document */

#section-to-print {
	overflow: hidden !important;
}

@media print {
  body * {
	background-color: #FFFFFF;
  }

	#fuccU * {
		display: none;
	}

	.fullpaper1 * {
		display: block;
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #FFFFFF;
		float: left;
		width: 8.5in;
		height: 11in;
	}
	.fullpaper2 * {
		visibility: visible;
	 	border: transparent;
	 	background-color: #FFFFFF;
		background-image: none !important;
		float: left;
		width: 8.5in;
		height: 11in;
	}
	.fullpaper3 * {
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #FFFFFF;
		page-break-after: always;
		float: left;
		width: 8.5in;
		height: 11in
	}
	.fullpaper4 * {
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #FFFFFF;
		page-break-after: always;
		float: left;
		width: 8.5in;
		height: 11in
	}
	.fullpaper5 * {
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #FFFFFF;
		page-break-after: always;
		float: left;
		width: 8.5in;
		height: 11in
	}
}