@charset "UTF-8";
/* CSS Document */

#section-to-print {
	overflow: hidden !important;
}

@media print {
  body * {
    visibility: hidden;
	overflow: hidden !important;
	background: hidden !important;
  }

	.fullpage1 *{
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #850002;
		float: none;
		width: 8.5in;
		height: 11in;
	}
	.fullpage2 *{
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #850002;
		float: none;
		width: 8.5in;
		height: 11in;
	}
	.fullpage3 *{
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #850002;
		float: none;
		width: 8.5in;
		height: 11in;
	}
	.fullpage4 *{
		visibility: visible;
	 	border: transparent;
	 	overflow: hidden !important;
	 	background-image: none !important;
		background-color: #850002;
		float: none;
		width: 8.5in;
		height: 11in;
	}
}